.stationlist {
	position: absolute;
	z-index: 999;
	background-color: rgba(0,0,0,0.68);
	color: #fff;
	list-style-type: none;
	width: 15%;
	margin-top: -1em;
	padding:1em;
}

.attractionlist {
	background-color: rgba(69,69,69,1);
	position: fixed;
	left: 0em;
	height: calc(100vh - 3.5em);
	margin-top: 3.5em;
	padding-top: 2em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	color: #fff;
	list-style-type: none;
	z-index: 999;
}

.attractionlist li {
	font-size: 1.3em;
}

.attractionlist li.event {
	color: #9c39c7;
}

.attractionlist li.attraction {
	color: #c7a73a;
}