.stationList {
}

.attractionList {
	background-color: rgba(69,69,69,1);
	position: fixed;
	left: 0em;
	height: calc(100vh - 3.5em);
	margin-top: 3.5em;
	padding-top: 2em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	color: #fff;
	list-style-type: none;
}

.attractionList::before {
	content: "Attractions Nearby";
	font-size: 2em;
	text-decoration: underline;
}

.attractionList li {
	font-size: 1.3em;
}

.attractionList li.event {
	color: #9c39c7;
}

.attractionList li.attraction {
	color: #c7a73a;
}