<!doctype html>
<html lang="en">
<head>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<form>
	<fieldset>
		<legend>Car Range</legend>
		<label for "txtPercentLeft">Remaining battery percentage:</label>
		<input type="text" name="txtPercentLeft" value="" tabindex="100" maxlength="30" placeholder="Enter battery %" onfocus="this.select()" autofocus>

		<br>

		<label for "txtMPC">Miles per charge:</label>
		<input type="text" name="txtMPC" value="" tabindex="110" maxlength="40" placeholder="Enter your car model's mpc" onfocus="this.select()" autofocus>

		<br>

	</fieldset>

	<fieldset>
		<legend>Button</legend> <!-- Edit this to what you want -->
		<button id="submitButton">Press me</button>
	</fieldset>
</form>

<br>

<div id="outputBox" style="height:300px;width:300px; border:1px solid #000;"></div> <!-- OUTPUT DIV -->

<script>
$("#submitButton").click(function() {
	$("#outputBox").html("Hello, World");
});
</script>
</body>
</html>