<form>
	<fieldset>
		<legend>Car Range</legend>
		<label for "txtPercentLeft">Remaining battery percentage:</label>
		<input type="text" name="txtPercentLeft" value="" tabindex="100" maxlength="30" placeholder="Enter battery %" onfocus="this.select()" autofocus>

		<br>

		<label for "txtMPC">Miles per charge:</label>
		<input type="text" name="txtMPC" value="" tabindex="110" maxlength="40" placeholder="Enter your car model's mpc" onfocus="this.select()" autofocus>

		<br>

	</fieldset>

	<fieldset>
		<legend>Button</legend> <!-- Edit this to what you want -->
		<input type="submit" name="btnCalc" value="Calculate your current range" tabindex="300" class="button">
	</fieldset>
</form>

<br>

<div><p>output me</p> </div> <!-- OUTPUT DIV -->



