.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

body {
	background-size: contain;    
    margin:auto;
    
}
/*
div .mobileSize{
    background-color: #92bd3f;
    border-style:dotted;
    margin:auto;
    width:640px;
    height:1136px;
}
*/

div .bigMapBox{
    border-style:solid;
    display:block;
    margin:auto;
    /*
    height:1136px;
    width:100%;
    */

    /*height: calc(1136px - 150px);*/
}

