.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

body {
	background: url('http://cdn.theatlantic.com/static/mt/assets/science/google_maps_hello_world.jpg');
	background-size: contain;
}

div .bigMapBox{
    border-style:solid;
    display:block;
    margin:auto;
    width:40%;
    min-height:800px;

}