.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

body {
	background-size: contain;    
    margin:auto;
    
}

div .mobileSize{
    background-color: #92bd3f;
    border-style:dotted; /* mark size of iPhone */
    margin:auto;
    width:640px;
    height:1136px;
}

div .bigMapBox{
    border-style:solid;
    display:block;
    margin:auto;
    width:100%;
    height: 1136px;
}