/*html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}*/
#map-canvas { 
    height: calc(93vh - 1px);
    width: calc(100vw);
    margin-left: calc(-1em - 1px);
    margin-top: calc(-1.5em);
    position: absolute;
    top: 0;
}
