/*html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}*/
#map-canvas { 
    height:97vh;
    width: calc(99vw - 2px);
    margin-left: calc(-1em - 1px);
    margin-top: calc(-2em - 2px);
}
