<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
	<div class="container" id="destinationSearchContainer">
	
		<form id="destinationSearchForm">
		  
		  <input class="input" id="destinationSearch" placeholder="Destination"/>
		  <ul class="popdownMenu" id="destinationSubmenu">
		  	<li id="nearestButton" class="submenuOption">Nearest</li>
		  	<li id="routeButton" class="submenuOption">Route</li>
		  	<div class="backgroundClear"></div>
		  </ul>
		  
		</form>
		  
			<script>
			$( "#destinationSearchContainer").focusin(function() {
			  $(".popdownMenu").slideDown("fast");
			});
			
			$( "#destinationSearchContainer").focusout(function() {
			  if ($("#destinationSearch").val() == "") {
				  $(".popdownMenu").slideUp("fast");
			  }
			});
			</script>
	
			</div>
			
			<div id="locationIcon">
				<img src="../../assets/images/geo_fence-512.png" alt="Current Location">
			</div>
			
			<div id="aboutIcon">
				<img src="../../assets/images/help-512.png" alt="About">
			</div>
	
		<script>
		$( "#locationIcon img").click(function() {
		  	$("#about").slideDown("fast");
		});
		
		$( "#locationIcon").focusout(function() {
		  	$(".popdownMenu").slideUp("fast");
		});
		</script>
</div>
