<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
      
      <input class="input" id="destinationSearch" placeholder="Destination"/>
      <ul class="popdownMenu" id="destinationSubmenu">
      	<li id="nearest">Nearest</li>
      	<li id="nearest">Route</li>
      	<div class="backgroundClear"></div>
      </ul>
      
      <script src="../../bower_components/jquery/src/navEffects/inputNavEffect.js"></script>

    </div>
  </div>
</div>
