* {
	padding: 0;
	margin: 0;
}

.input {
	height: 2em;
	width: 15em;
	line-height: 1.25em;
	font-size: 1.2em;
	font-family: sans-serif;
	border: 1px solid #000;
	padding: .5em;
	margin-top: .5em;
}

.input:focus {
	outline: 1px solid #61bc36;
	border: 1px solid #61bc36;
}

.input:hover {
	outline: 1px solid #61bc36;
	border: 1px solid #61bc36;
}

.navbar {
	background: rgba(0,0,0,0.56);
	border-bottom: none;
	height: 3em;
}
.popdownMenu {
	background-color: #92bd3f;
	width: 15em;
	font-size: 1.2em;
	border: 1px solid #000;
	border-radius: 0px 0px 5px 5px;
	display: none;
	position: absolute;
}

#destinationSearchContainer {
	width: auto;
	float: left;
}

ul.popdownMenu li {
	display: inline-block;
}

ul.popdownMenu li:hover {
	cursor: pointer;
}

ul.popdownMenu li:nth-child(1) {
	float: left;
	width: 50%;
	text-align: center;
	border-right: 1px solid #000;
}

ul.popdownMenu li:nth-child(2) {
	float: right;
	width: 50%;
	text-align: center;
}

.backgroundClear {
	clear:both;
}

#locationIcon {
	float: left;
	padding: calc(1em - 3px);
}

#locationIcon img {
	height: 30px;
	width: 30px;
	border: 1px solid #92bd3f;
	border-radius: 50px;
	
}

#locationIcon img {
	cursor: pointer;
}

#about {
	float: right;
	width: 200px;
	color: #000;
	background-color: #92bd3f;
	border: 1px solid #000;
	padding: 1em;
	text-align: center;
	margin-top: calc(1em - 3px);
	display: none;
	position: absolute;
	right: 4em;
}

#about ol {
	list-style-type: none;
}

#aboutIcon {
	float: right;
	padding: calc(1em - 3px);
}

#aboutIcon img {
	height: 30px;
	width: 30px;
}

#aboutIcon img:hover {
	cursor: pointer;
}

#teamNames {
	font-size:.8em;
}